<br/>
<b>Article:</b> @ViewBag.Article.Title <br />
<b>Authors:</b> 
@{ 
    string[] authors = ViewBag.Article.Authors.Split(new char[] { ';' });
    for (int i = 0; i < authors.Length; i++)
    {
        @Html.ActionLink(authors[i] + " ", "Index", new { searchString = authors[i], searchMode = "Author" })
    }
} <br />
<b>Publication:</b> @ViewBag.Article.Publication <br />
<b>Description:</b> @ViewBag.Article.Description <br />
<b>Terms:</b> 
@{
    string[] terms = ViewBag.Article.Terms.Split(new char[] { ';' });
    for (int i = 0; i < terms.Length; i++)
    {
        @Html.ActionLink(terms[i] + " ", "Index", new { searchString = terms[i], searchMode = "Term" })
    }
} <br /> <br />
<a href="@ViewBag.Article.MDURL">IEEE</a> | <a href="@ViewBag.Article.PDF">PDF</a> <br />
