@model IEnumerable<DMDProject.Models.Article>
@{
    ViewBag.Title = "Search";
}
<div style='margin-right: auto; margin-left: auto;text-align: center'>

<img src="~/Content/konata.jpg" alt="Konata" />

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString") 
        <input type="submit" value="Search" />
    </p>
} 
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.ActionLink("Details", "Index", new { id = item.ID })
            </td>
        </tr>
    }
</table>

<div style='margin-right: auto; margin-left: auto;text-align: center'>
    @Html.ActionLink("Prev", "Index", new { id = 0 }) | @Html.ActionLink("Next", "Index", new { id = 0 })
</div>
